* {
  margin: 0;
  padding: 0;
}

#wrap {
  /* border: 1px solid blue; */
  width: 970px;
  margin: 0 auto; /*가운데 정렬*/
}

body {
  font-family: "맑은 고딕", "돋움";
  font-size: 12px;
  color: #444444;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}
